

body {
	margin: 0;
	padding: 0;
	font-family:Arial;
	font-size: 13px;
	color: #061C37;
	background-repeat:repeat-x;
}

a.side:link    {color:white;}
a.side:visited {color:white;}
a.side:hover   {color:white;}
a.side:active  {color:white;} 
